body{
    background-color: blue;
    background-size: cover;
}
table{
    width: 80%;
    margin:40px auto;
    background: rgb(252, 218, 27);
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 2px solid black;
    text-align: left;
    padding: 8px 15px;
}

input[type="text"],input[type="number"]{
    width: 91%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
}

input[type="submit"],input[type="reset"]{
   background: blue;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background-color: green;
}

input[type="reset"]:hover{
    background-color: red;
}

button{
    background: blue;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
button:hover{background-color: red;}